<% @crops.each do |crop| %>
  <div class="crop-index-card">
    <%= link_to toggle_favorite_crop_path(crop), remote: true, method: "POST" do %>
      <div class="<%= current_user.favorited?(crop) ? "star marked" : "star" %>" data-action="click->mark-crops#mark">
        <i class="fas fa-star"></i>
      </div>
    <% end %>
    <div class="crop-index-card-body">
      <div class="crop-index-card-text">
        <h2><%= link_to crop.name, crop_path(crop) %></h2>
        <p><%= crop.plant_family %></p>
        <%= link_to crop_path(crop) do %>
        </div>
        <%= image_tag crop.image_url %>
      </div>
    <% end %>
  </div>
<% end %>
