<div class="crop-favorite-card">
  <div class="crop-favorite-card-body">
    <div class="crop-favorite-card-text">
      <h2><%= crop.name %></h2>
      <%= link_to toggle_favorite_crop_path(crop), method: "POST" do %>
        <i class="fas fa-undo"></i>
      <% end %>
      <p><%= crop.plant_family %></p>
    </div>
    <%= link_to crop_path(crop) do %>
      <%= image_tag crop.image_url %>
    <% end %>
  </div>
</div>
