<div>
  <h1>When do you want to harvest?</h1>
  <%= form_with url: crops_path, local: true, method: :get,  html: { class: 'mb-4 input-group' } do |f| %>
    <%= f.text_field :query,
                      class: "form-control",
                      value: params[:query]
                      %>
    <%= button_tag(class: "btn btn-primary") do %>
      Autumn
    <% end %>
    <%= button_tag(class: "btn btn-primary") do %>
      Winter
    <% end %>
    <%= button_tag(class: "btn btn-primary") do %>
      Spring
    <% end %>
    <%= button_tag(class: "btn btn-primary") do %>
      All
    <% end %>
  <% end %>
  <%= render 'crop', crops: @crops %>
</div>
