<%= form_with(url: garden_path(@garden), method: :get) do |f| %>
  <%= f.hidden_field(:tile_id, value: tile.id) %>
  <%= f.submit "Submit", class: 'd-none', data: { tile_id: "tile-#{tile.id}" } %>
  <div class="tile" id="<%= tile.id %>" data-plot-id="<%= tile.plot_id %>" data-crop-name="<%= tile.plot.crop.name if tile.plot_id.present? %>" data-tile-container-target="tile" data-action='click->tile-container#changeClass'>
    <% if tile.plot_id.present? %>
      <%= image_tag tile.plot.crop.image_url %>
      <% if tile.plot.crop.water_needs >= tile.plot.days_since_watering %>
        <%= image_tag "droplet.png", class: "droplet" %>
      <% end %>
    <% end %>
  </div>
<% end %>
