<div class="container-weather">
  <div class="card-weather">
    <h3><%= @weather_response['name'] %></h3>
    <%= image_tag("http://openweathermap.org/img/wn/#{@weather_response['weather'][0]['icon']}@2x.png") %>
    <div class="temp-info-container">
      <small><%= @weather_response['main']['temp_max'].round %>°C</small>
      <small><%= @weather_response['weather'][0]['description'].capitalize %></small>
      <small><%= @weather_response['main']['temp_min'].round %>°C</small>
    </div>
  </div>
</div>
