<h3><%= @weather_response['name'] %></h3>
<div>
<%= image_tag("http://openweathermap.org/img/wn/#{@weather_response['weather'][0]['icon']}@2x.png") %>
<small><%= @weather_response['weather'][0]['description'].titleize %></small>
</div>
<div class="container-temp-info">
  <small>High: <%= @weather_response['main']['temp_max'].round %>°C</small>
  <small>Low: <%= @weather_response['main']['temp_min'].round %>°C</small>
</div>
