<div class="container" data-controller="tile-container">
  <div class="row">
    <% @tiles.each do |tile| %>
      <div class="col border" id="<%= tile.id %>" data-tile-container-target="tile" data-action='click->tile-container#changeClass'><%= tile.x_position %> <%= tile.y_position %></div>
    <% end %>
  </div>
  <div class="btn btn-primary" data-tile-container-target="link" data-action='click->tile-container#displayForm'>Add my vegetables</div>
  <div class="d-none" data-tile-container-target="form">
    <%= simple_form_for [@garden, @plot] do |f| %>
      <%= f.input :name %>
      <%= f.input :crop, as: :select, collection: @favorites, label: "Selected crops" %>
      <%#= f.input :category, as: :select, collection: Item::CATEGORIES, label: "Category" %>
      <%= f.input :tiles, :as => :hidden, :input_html => { data: { "tile-container-target": "input" } } %>
      <%#= NEED TO ADD FAVORITED CROPS HERE %>
      <%= f.submit "Create plot", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
