<div class="container container-garden-show" data-controller="tile-container">
  <%# Info widget %>
  <div class="container-info-widget">
    <div class="card-widget">
      <% unless @weather_response['cod'] == '404' %>
        <%= render "gardens/weather" %>
      <% else %>
        <%= render "gardens/default_weather" %>
      <% end %>
    </div>
    <div class="card-widget">
      <%# Tile/plot edit widget %>
      <div class="form-container-gardens" data-tile-container-target="form">
        <%= simple_form_for [@garden, @plot] do |f| %>
          <%= f.input :crop, as: :select, collection: (@favorites + @hardiness_recommendation).sort { |a, b| a.name<=>b.name }, label: "Recommended", required: false %>
          <%= f.input :tiles, as: :hidden, :input_html => { data: { "tile-container-target": "input" } } %>
          <%= f.submit "Plant Crops", class: 'btn btn-primary btn-gardens' %>
        <% end %>
      </div>
      <div id="selected-tile" data-tile-container-target="selected-plot">
      </div>
    </div>
  </div>
  <%# Garden display %>
  <div class="container-for-container-garden-title">
    <div class="container-garden-in-between-title">
      <h3>Select a Tile</h3><i class="fas fa-long-arrow-alt-down"></i>
    </div>
  </div>
  <div class ="container-garden-perspective">
    <div class="garden" style="grid-template-columns: repeat(<%= (@garden.width * 2).to_i %>, 60px)">
      <% @tiles.each do |tile| %>
        <%= render "tile", tile: tile %>
      <% end %>
    </div>
  </div>
</div>
<%# Please Don't move this footer in the partial or it breaks stimulus controller %>
<div class="footer">
  <div class="footer-links">
    <%= link_to (current_user.gardens.present? == true ? gardens_path : new_garden_path) do %>
      <div class="crop-container-img">
        <%= image_tag 'gardensindex.png', class: 'footer-img' %>
        <div class="btn btn-primary btn-shadow footer-link">
          <p class="footer-gardens-word">Gardens</p>
        </div>
      </div>
    <% end %>
    <%= link_to crops_path do %>
      <div class="crop-container-img">
        <%= image_tag 'cropsindex.png', class: 'footer-img' %>
        <div class="btn btn-primary btn-shadow footer-link">
          <p class="footer-crops-word">Crops</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
